contracts:
  1:
    0x9855054731540a48b28990b63dcf4f33d8ae46a1:
      name: "CB Coordinator Safe - Mainnet"
      slots: ${{storage-layouts.gnosis-safe}}
    0x9ba6e03d8b90de867373db8cf1a58d2f7f006b3a:
      name: "OP Signer Safe - Mainnet"
      slots: ${{storage-layouts.gnosis-safe}}
    0x7bb41c3008b3f03fe483b28b8db90e19cf07595c:
      name: "Proxy Admin Owner - Mainnet"
      slots: ${{storage-layouts.gnosis-safe}}
    0x43edb88c4b80fdd2adff2412a7bebf9df42cb40e:
      name: "Dispute Game Factory Proxy - Mainnet"
      slots: ${{storage-layouts.dispute-game-factory}}
    0x9c4a57feb77e294fd7bf5ebe9ab01caa0a90a110:
      name: "CB Signer Safe - Mainnet"
      slots: ${{storage-layouts.gnosis-safe}}
    0x20acf55a3dcfe07fc4cecacfa1628f788ec8a4dd:
      name: "Security Council Safe - Mainnet"
      slots: ${{storage-layouts.gnosis-safe}}
    0x14536667cd30e52c0b458baaccb9fada7046e056:
      name: "Incident Safe - Mainnet"
      slots: ${{storage-layouts.gnosis-safe}}
  11155111:
    0x646132a1667ca7ad00d36616afba1a28116c770a:
      name: "CB Coordinator Safe - Sepolia"
      slots: ${{storage-layouts.gnosis-safe}}
    0x6af0674791925f767060dd52f7fb20984e8639d8:
      name: "Mock OP Safe / Mock Security Council - Sepolia"
      slots: ${{storage-layouts.gnosis-safe}}
    0x0fe884546476ddd290ec46318785046ef68a0ba9:
      name: "Proxy Admin Owner - Sepolia"
      slots: ${{storage-layouts.gnosis-safe}}
    0xf272670eb55e895584501d564afeb048bed26194:
      name: "System Config - Sepolia"
      slots: ${{storage-layouts.system-config}}
  8453:
    0xd94e416cf2c7167608b2515b7e4102b41efff94f:
      name: "CB Signer Safe - Base Mainnet"
      slots: ${{storage-layouts.gnosis-safe}}
    0x09c7bad99688a55a2e83644bfaed09e62bdcccba:
      name: "Fee Dispurser - Base Mainnet"
      slots: ${{storage-layouts.fee-dispurser}}
storage-layouts:
  dispute-game-factory:
    0x0000000000000000000000000000000000000000000000000000000000000065:
      type: "address"
      summary: "Updates the `X` implementation address."
      override-meaning: ""
  fee-dispurser:
    0xb53127684a568b3173ae13b9f8a6016e243e63b6e8ee1178d6a717850b5d6103:
      type: "address"
      summary: "Updates the proxy admin"
      override-meaning: ""
  gnosis-safe:
    0x0000000000000000000000000000000000000000000000000000000000000002:
      type: "address"
      summary: "Updates the owners mapping"
      override-meaning: ""
    0x0000000000000000000000000000000000000000000000000000000000000003:
      type: "uint256"
      summary: "Updates the owner count"
      override-meaning: "Sets the owner count to 1 so the transaction simulation can occur."
    0x0000000000000000000000000000000000000000000000000000000000000004:
      type: "uint256"
      summary: "Updates the execution threshold"
      override-meaning: "Override the threshold to 1 so the transaction simulation can occur."
    0x0000000000000000000000000000000000000000000000000000000000000005:
      type: "uint256"
      summary: "Increments the nonce"
      override-meaning: ""
    0x0000000000000000000000000000000000000000000000000000000000000008:
      type: "uint256"
      summary: "Sets an approval for this transaction"
      override-meaning: "Simulates an approval from msg.sender in order for the task simulation to succeed."
    0xe90b7bceb6e7df5418fb78d8ee546e97c83a08bbccc01a0644d599ccd2a7c2e0:
      type: "address"
      summary: "Sets the head of the owners linked list"
      override-meaning: "This is owners[1] -> 0xca11bde05977b3631167028862be2a173976ca11, so the key can be derived from `cast index address 0x0000000000000000000000000000000000000001 2`."
    0x316a0aac0d94f5824f0b66f5bbe94a8c360a17699a1d3a233aafcf7146e9f11c:
      type: "uint256"
      summary: "Increments the nonce"
      override-meaning: "This is owners[0xca11bde05977b3631167028862be2a173976ca11] -> 1, so the key can be derived from `cast index address 0xca11bde05977b3631167028862be2a173976ca11 2`."
  system-config:
    0x000000000000000000000000000000000000000000000000000000000000006a:
      type: "hybrid"
      summary: "Updates EIP 1559 params for the chain"
      override-meaning: ""
